///////////////////////////////////////////////
///////////// variables
///////////////////////////////////////////////

$color-red: #e03904;
$color-light: #fff;
$color-dark: #000;
$color-yellow: #ffcd01;
$color-grey: #c3c2c8;

$font-normal: 'Neo Sans Pro', sans-serif;
$font-decor-light: 'SegoeUI Light', sans-serif;
$font-bold: 'Neo Sans Pro Medium', sans-serif;
$font-light: 'Neo Sans Pro Light', sans-serif;


