/*********************************************
*********** general
**********************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

a,
button {
  transition: .4s;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

button {
  background: none;
  border: none;
}

input:hover,
input:active,
input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 20px;
  color: #000;
  opacity: 1;
}

input::-moz-placeholder {
  font-weight: 300;
  font-size: 20px;
  color: #000;
  opacity: 1;
}

input:-moz-placeholder {
  font-weight: 300;
  font-size: 20px;
  color: #000;
  opacity: 1;
}

input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 20px;
  color: #000;
  opacity: 1;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

label {
  display: block;
  width: 100%;
  position: relative;

  .fa {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    line-height: 1;
    height: 26px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
  }

  input:not([type='checkbox']),
  input:not([type='radio']) {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    padding: 0 25px;

    &:focus + .fa {
      display: none;
    }

  }

}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h2 {
  font-size: 35px;
  font-weight: 300;
  line-height: 1;
  text-align: center;

  strong {
    font-size: inherit;
    font-weight: 500;
    line-height: 1;
  }

}

.sub-title {
  text-align: center;
  font-size: 22px;
}

.slider-wrap {
  position: relative;
}

.slider-wrap .slide:hover,
.slider-wrap .slide:active,
.slider-wrap .slide:focus,
a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  overflow: hidden;
  opacity: 0;
}

main {
  flex-grow: 1;
  background: $color-light;
}

.wrapper-inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  display: block;
  padding: 60px 0;
}

fieldset {
  display: block;
  border: none;
}

.button-texture {
  display: flex;
  height: 50px;
  padding: 0 45px;
  flex-shrink: 0;
  background: url(../images/background-button.jpg) no-repeat center center;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .25);

  span {
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 50px;
    font-weight: 500;
  }

  &:hover {
    box-shadow: 0 0 20px 0 rgba(31, 126, 165, .75);
  }

}

.form-note {
  font-weight: 300;
  font-size: 15px;

  a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

  }

}

.to-calculator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-calculator-icon {
  display: block;
  width: 56px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.to-calculator-text {
  font-size: 15px;
  text-transform: uppercase;
  color: $color-blue;
  margin: 0 0 0 5px;
}

.to-calculator:hover .to-calculator-icon,
.to-calculator:focus .to-calculator-icon,
.to-calculator:active .to-calculator-icon {
  -webkit-animation-name: icon-wobble;
  animation-name: icon-wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes icon-wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes icon-wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slider-control {
  display: block;
  width: 75px;
  height: 90px;
  background: rgba(0, 0, 0, .57);
  position: absolute;
  z-index: 2;
  cursor: pointer;
  transition: .4s;

  &:before {
    content: '';
    display: block;
    width: 81px;
    height: 37px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    transition: .4s;
  }

}

.slider-prev {
  left: 0;

  &:before {
    background: url(../images/image-arrow-left.png) no-repeat 0 0;
    right: 27px;
  }

  &:hover {
    background: rgba(0, 0, 0, .75);

    &:before {
      right: 0;
    }

  }

  &:active {
    left: -5px;
  }

}

.slider-next {
  right: 0;

  &:before {
    background: url(../images/image-arrow-right.png) no-repeat 0 0;
    left: 27px;
  }

  &:hover {
    background: rgba(0, 0, 0, .75);

    &:before {
      left: 0;
    }

  }

  &:active {
    right: -5px;
  }

}

.custom-select {
  position: relative;

  .current-value {
    display: block;
    height: 50px;
    background: #fff;
    padding: 0 65px 0 25px;
    border-right: 2px solid $color-green;
    position: relative;
    cursor: pointer;

    span {
      display: flex;
      align-items: center;
      height: 50px;
      line-height: 1;
      font-weight: 300;
      font-size: 20px;
      color: #000;
    }

    &:after {
      content: '';
      display: block;
      width: 60px;
      height: 50px;
      background: url(../images/icon-angle-down.png) no-repeat center center;
      transition: .4s;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:hover span {
      color: $color-green;
    }

  }

  input {
    display: none;
  }

  ul {
    display: none;
    width: calc(100% - 62px);
    background: #fff;
    padding: 0 15px 0 15px;
    border-top: 2px solid $color-green;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    box-shadow: 5px 5px 10px -5px $color-green;

    li {
      display: flex;
      list-style: none;
      align-items: center;
      min-height: 35px;
      padding: 5px 0 5px 10px;
      border-bottom: 1px solid $color-green;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &.active,
      &:hover {
        color: $color-green;
      }

      &.active {
        cursor: default;
      }

    }

  }

  &.active {

    ul {
      display: block;
    }

    .current-value:after {
      transform: rotate(180deg);
    }

  }

}

ul {
  list-style: none;

  li {
    list-style: none;
  }

}

.custom-table {
  display: table;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
}

.custom-table-header {
  display: table-row;
  background: linear-gradient(to right, #78b824, #65a81e 50%);
}

.custom-table-header-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 14px 20px;
  line-height: 1.3;
  font-size: 17px;
  font-weight: 500;
  color: #fff;

  &:nth-of-type(1) {
    width: 50%;
  }

  &:nth-of-type(2) {
    width: 30%;
  }

  &:nth-of-type(3) {
    width: 20%;
  }

}

.custom-table-row {
  display: table-row;
  background: #e7f2f2;

  &:nth-of-type(2n) {
    background: #fff;
  }

}

.custom-table-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 14px 20px;
  line-height: 1.3;
  font-size: 17px;
}

@media (max-width: 767px) {

  .custom-table-header-cell {

    &:nth-of-type(1) {
      width: 40%;
    }

    &:nth-of-type(2) {
      width: 30%;
    }

    &:nth-of-type(3) {
      width: 30%;
    }

  }

}

@media (max-width: 575px) {

  h2 {
    font-size: 27px;
  }

  .sub-title {
    font-size: 20px;
  }

  .custom-table {
    display: block;
  }

  .custom-table-header {
    display: none;
  }

  .custom-table-cell {
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-of-type(1) {
      width: 100%;
    }

    &:nth-of-type(2) {
      width: 50%;
    }

    &:nth-of-type(3) {
      width: 50%;
    }

  }

  .custom-table-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;

    .custom-table-cell:nth-of-type(1) {
      border-bottom: 1px solid #fff;
    }

    .custom-table-cell:nth-of-type(2) {
      border-right: 1px solid #fff;
    }

    &:nth-of-type(2n) {

      .custom-table-cell:nth-of-type(1) {
        border-bottom: 1px solid #e7f2f2;
      }

      .custom-table-cell:nth-of-type(2) {
        border-right: 1px solid #e7f2f2;
      }

    }

  }

}

@media (max-width: 480px) {

  .custom-select {

    .current-value {

      span {
        font-size: 16px;
      }

    }

  }

}