extends ../layout/main

block title
    | Main page

block content
    main
        include ../modules/form-order-main
        include ../modules/video
        include ../modules/details
        include ../modules/objects
        include ../modules/rates
        include ../modules/steps
        include ../modules/calculator
        //include ../modules/portfolio
        include ../modules/catalog
        include ../modules/cost
        include ../modules/best-price
        include ../modules/years
        include ../modules/about-us
        include ../modules/questions
        include ../modules/reviews
        include ../modules/form-order-main-short
