/*********************************************
*********** footer
**********************************************/

footer[role='contentinfo'] {
  padding: 45px 0 70px;
  flex-grow: 0;

  .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.footer-company-info {
  flex-shrink: 0;
}

.copyrights {
  font-size: 17px;
  margin: 20px 0 0;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;

  a {
    display: block;
    margin: 0 10px;

    .fa {
      font-size: 28px;
    }

  }

}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  nav {
    width: 100%;
    margin: 0 0 30px;

    ul {
      justify-content: flex-end;
    }

  }

}