/*********************************************
*********** reviews
**********************************************/

.reviews {
  background: #fff;
  background-size: cover;
  padding: 40px 0;
  text-align: center;

  h2 {
    color: $color-blue;
  }

  .sub-title {
    color: #000;
    font-weight: 300;
    margin: 10px 0 25px;
  }

  .slider-wrap {
    border: 2px solid #ededed;
    padding: 20px;
  }

}

.reviews-filter {
  display: inline-flex;
  border-radius: 18px;
  overflow: hidden;
  margin: 0 0 30px;
}

.reviews-filter-item {
  height: 35px;
  padding: 0 20px;
  background: #eff0f0;
  line-height: 35px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  border-right: 2px solid #fff;
  cursor: pointer;

  &:last-of-type {
    border-right: none;
  }

  &.active {
    background: #1478a1;
    color: #fff;
    cursor: default;
  }

  &:hover {
    color: $color-blue;

    &.active {
      color: #fff;
    }

  }

}

.reviews-item {
  display: flex!important;
  justify-content: space-between;
}

.reviews-item-left,
.reviews-item-right {
  flex-shrink: 0;
  width: calc(50% - 10px);
  height: 330px;
}

.reviews-item-right {
  background: #eff0f0;
  padding: 30px 10px 30px 30px;
}

.reviews-item-data {
  height: 100%;
  padding: 5px 5px 10px;
  overflow: auto;
  text-align: justify;

  p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
  }

}

.reviews-item-left {
  overflow: hidden;
  padding: 0 1px;

  img {
    height: 100%;
    width: auto;
  }

}

.reviews-item-photo {
  width: 125px;
  float: left;
  border: 8px solid #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
  margin: 0 20px 10px 0;
}

.reviews-item-reviewer {
  color: $color-blue;
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 16px;
  background: $color-blue!important;
  border-radius: 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 16px;
  border-radius: 0;
  background: #fff;
}

.reviews-controls {
  display: block;
  width: 81px;
  height: 37px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: .4s;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }

}

.reviews-prev {
  background: url(../images/image-arrow-left-green.png) no-repeat 0 0;
  right: calc(100% - 20px);

  &:active {
    right: calc(100% - 10px);
  }

}

.reviews-next {
  background: url(../images/image-arrow-right-green.png) no-repeat 0 0;
  left: calc(100% - 20px);

  &:active {
    left: calc(100% - 10px);
  }

}

@media(max-width: 1300px) {

  .reviews-controls {
    top: -55px;
    bottom: auto;
  }

  .reviews-prev {
    right: calc(50% + 20px);

    &:active {
      right: calc(50% + 30px);
    }

  }

  .reviews-next {
    left: calc(50% + 20px);

    &:active {
      left: calc(50% + 30px);
    }

  }

  .reviews {

    .slider-wrap {
      margin: 40px 0 0;
    }

  }

}

@media(max-width: 991px) {

  .reviews {

    .slider-wrap {
      width: 590px;
      margin: 40px auto 0;
    }

  }

  .reviews-item {
    display: block!important;
  }

  .reviews-item-left,
  .reviews-item-right {
    width: 550px;
    height: 330px;
    margin: 0 auto;
  }

}

@media(max-width: 640px) {

  .reviews {

    .slider-wrap {
      width: 290px;
      padding: 10px;
      margin: 40px auto 0;
    }

  }

  .reviews-item-left {
    width: 270px;
    height: 162px;
  }

  .reviews-item-right {
    width: 100%;
    height: 350px;
    padding: 10px;
  }

  .reviews-item-photo {
    float: none;
    margin: 0 auto 20px;
  }

  .reviews-item-data p {
    font-size: 12px;
    line-height: 18px;
  }

}

@media(max-width: 575px) {

}