div(class='about-us')
    div(class='wrapper-inner')
        h2
            != '«Ванна-Сервис»: не перестаем <strong>совершенствовать методы работы</strong>'
        div(class='sub-title') Постоянное развитие — наша философия
        p Ремонт санузлов — наш единственный профиль, поэтому мы знаем все о правильном, качественном проведении работ. Наш широкий спектр услуг позволяет клиенту быть уверенным в создании идеального, безопасного, комфортного помещения. Ориентируемся на пожелания заказчика, предлагая наиболее приемлемые по цене и соответствующие требованиям материалы.
        div(class='about-us-list')
            div(class='about-us-item')
                div(class='about-us-item-title') Цель
                div(class='about-us-item-text') Создать комфортные условия заказа для каждого клиента с любым бюджетом.
            div(class='about-us-item')
                div(class='about-us-item-title') Миссия
                div(class='about-us-item-text') Повысить эксплуатационные характеристики санузла вне зависимости от его размера и типа.
            div(class='about-us-item')
                div(class='about-us-item-title') Задачи
                div(class='about-us-item-text') Обеспечить полный комплекс услуг от создания дизайна до согласования перепланировок в одном месте. Исключить ошибки в подключении, оформлении из-за несогласованности работы бригад разных компаний.
        div(class='about-us-data')
            div(class='about-us-fact')
                div(class='about-us-fact-number') 5600
                div(class='about-us-fact-text')
                    != 'ремонтов воплощено <br>в жизнь'
            div(class='about-us-fact')
                div(class='about-us-fact-number') 0.43%
                div(class='about-us-fact-text')
                    != 'рекламации на первую <br>половину 2017 года'
            div(class='about-us-fact')
                div(class='about-us-fact-number') 893030
                div(class='about-us-fact-text')
                    != 'рублей сэкономили клиентам <br>на закупке материалов'
            div(class='about-us-fact')
                div(class='about-us-fact-number') 3
                div(class='about-us-fact-text')
                    != 'бригады <br>работает'
            div(class='about-us-fact')
                div(class='about-us-fact-number') 150+
                div(class='about-us-fact-text')
                    != 'услуг <br>предоставляем'
            div(class='about-us-fact')
                div(class='about-us-fact-number') 3 дня
                div(class='about-us-fact-text')
                    != 'дня — самая короткая <br>продолжительность ремонта'