div(class='best-price')
    div(class='wrapper-inner')
        h2
            != 'Гарантия лучшей цены <strong>на ремонт ванной</strong>'
        div(class='sub-title') Уверены в своих силах
        p
            !='Мы создаем оптимальное соотношение цены и качества услуг. <span>Если вы нашли стоимость ниже нашей, возможны 3 варианта:</span>'
        ul
            li
                != '<strong>Демпинг.</strong> Молодая компания с разношерстными сотрудниками без опыта занижает прайс.'
            li
                != '<strong>Обман.</strong> На сайте стоит одна цена, в итоге будет другая, примерно на 50% выше.'
            li
                != '<strong>Конвейер.</strong> Компания делает все в сжатые сроки, по низкой стоимости без упора на качество'
        div(class='form-note')
            != '* Нажимая на кнопку, вы подтверждаете своё согласие с обработкой персональных данных и <a href="#">политикой конфиденциальности</a>'
        form(action='#' class='form-best-price')
            p
            label
                input(type='text' placeholder='Ваш телефон')
            label(class='upload-field')
                span Загрузить
                input(type='file')
            button(type='submit' class='button-texture')
                span Отправить