div(class='wrapper-inner')
    ul(class='breadcrumbs')
        li
            a Главная
        li
            a Портфолио
        li
            a Работы
        li
            a Ванные комнаты
        li Ванные комнаты под ключ