div(class='catalog')
    div(class='wrapper-inner')
        h2
            != 'Красотой и качеством <strong>всегда приятно любоваться</strong>'
        div(class='sub-title') Еще больше примеров наших работ
        a(href='#' class='catalog-download')
            span(class='catalog-download-icon')
                img(src='images/icon-download.png' alt='some text')
            span(class='catalog-download-text') Скачать полный каталог с ценами
        p Ванная комната, ванная — помещение в квартире или жилом доме, предназначенное для купания или принятия душа. Обычно ванные комнаты оснащены ванной и/или душем и раковиной и другими сантехническими приборами.
        button(class='button-texture')
            span Заказать точную смету