div(class='cost')
    div(class='wrapper-inner')
        h2
            != 'Стоимость с материалами по замерам <strong>равна сумме в акте</strong>'
        div(class='sub-title') Работаем честно — цену не поднимаем
        p Окончательная стоимость работ согласовывается с заказчиком и заносится в договор. На все услуги, не входящие в первоначальную смету, составляем новые документы. Не в нашей политике увеличивать стоимость без вашего ведома!