div(class='details')
    div(class='wrapper-inner')
        h2
            != 'Учли все важные <strong>для клиентов детали</strong>'
        div(class='sub-title') Это бесплатно и ни к чему вас не обязывает
        ul(class='details-list')
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-1.png' alt='details')
                div(class='details-text')
                    != 'Без проблем работаем под <span>видеокамерами 24/7</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-2.png' alt='details')
                div(class='details-text')
                    != 'Заключаем официальный <span>договор, удобный клиенту</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-3.png' alt='details')
                div(class='details-text')
                    != 'При заказе капитального ремонта <span>реечный потолок в подарок</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-4.png' alt='details')
                div(class='details-text')
                    != 'Работаем <span>без предоплаты</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-5.png' alt='details')
                div(class='details-text')
                    != 'оплата после подписания <span>акта закрытия работ</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-6.png' alt='details')
                div(class='details-text')
                    != 'дистанционное наблюдение <span>за работами по Skype</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-7.png' alt='details')
                div(class='details-text')
                    != 'обеспечиваем <span>помощь дизайнера</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-8.png' alt='details')
                div(class='details-text')
                    != 'сами закупаем <span>и привозим материалы</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-9.png' alt='details')
                div(class='details-text')
                    != 'ремонт ванной под ключ <span>или частичные работы</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-10.png' alt='details')
                div(class='details-text')
                    != 'можем съездить <span>с вами на закупку</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-11.png' alt='details')
                div(class='details-text')
                    != 'делимся своими <span>скидками на материалы</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-12.png' alt='details')
                div(class='details-text')
                    != 'работаем в соответствии <span>со СНиП, СанПиН</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-13.png' alt='details')
                div(class='details-text')
                    != 'даем гарантию <span>на работы 3 года</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-14.png' alt='details')
                div(class='details-text')
                    != 'поможем с согласованием <span>перепланировки</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-15.png' alt='details')
                div(class='details-text')
                    != 'выполняем свыше <span>150 видов работ</span>'
            li(class='details-item')
                div(class='details-image')
                    img(src='images/image-details-16.png' alt='details')
                div(class='details-text')
                    != 'выкупаем неиспользованные <span>строительные материалы</span>'