footer(role='contentinfo')
    div(class='wrapper-inner')
        div(class='footer-company-info')
            a(href='index.html' class='logo')
                img(src='images/logo.png' alt='Ванна-сервис')
            div(class='copyrights') © 2017. Ванна-Сервис. Все права защищены.
        div(class='footer-content')
            nav
                ul
                    li
                        a(href='#') Начало
                    li
                        a(href='#') О компании
                    li
                        a(href='#') Услуги
                    li
                        a(href='#') Портфолио
                    li
                        a(href='#') Блог
                    li
                        a(href='#') Отзывы
                    li
                        a(href='#') Контакты
            a(href='tel:+74957572557' class='link-phone')
                != '<span>+7 (495)</span> 757 25 57'
            div(class='social-links')
                a(href='#')
                    i(class='fa fa-vk')
                a(href='#')
                    i(class='fa fa-facebook')
                a(href='#')
                    i(class='fa fa-instagram')
                a(href='#')
                    i(class='fa fa-youtube-play')
            a(href='#calculator' class='to-calculator')
                span(class='to-calculator-icon')
                    img(src='images/icon-phone.png' alt='calculator')
                span(class='to-calculator-text') Калькулятор ремонта