div(class='objects')
    div(class='wrapper-inner')
        h2
            != 'Не просто ремонтируем под ключ, <strong>а наводим красоту</strong>'
        div(class='sub-title') Убедитесь в этом сами
        div(class='slider-wrap')
            div(class='slider-control slider-prev objects-controls objects-prev')
            div(class='slider-control slider-next objects-controls objects-next')
            div(class='slider-objects')
                div(class='slide object-item')
                    div(class='object-before')
                        div(class='object-marker')
                            img(src='images/icon-bad.png' alt='before')
                            span(class='object-marker-text') было
                        div(class='object-image-container')
                        div(class='object-image-list')
                            div(class='object-image')
                                img(src='images/image-object-1.jpg' alt='some text')
                            div(class='object-image')
                                img(src='images/image-object-2.jpg' alt='some text')
                            div(class='object-image')
                                img(src='images/image-object-3.jpg' alt='some text')
                    a(href='#' class='to-object-view button-texture') Посетить объект
                    div(class='object-after')
                        div(class='object-marker')
                            img(src='images/icon-good.png' alt='after')
                            span(class='object-marker-text') Стало
                        div(class='object-image-container')
                        div(class='object-image-list')
                            div(class='object-image')
                                img(src='images/image-object-4.jpg' alt='some text')
                            div(class='object-image')
                                img(src='images/image-object-5.jpg' alt='some text')
                            div(class='object-image')
                                img(src='images/image-object-6.jpg' alt='some text')
                div(class='slide object-item')
                    div(class='object-before')
                        div(class='object-marker')
                            img(src='images/icon-bad.png' alt='before')
                            span(class='object-marker-text') было
                        div(class='object-image-container')
                        div(class='object-image-list')
                            div(class='object-image')
                                img(src='images/image-object-5.jpg' alt='some text')
                            div(class='object-image')
                                img(src='images/image-object-3.jpg' alt='some text')
                            div(class='object-image')
                                img(src='images/image-object-2.jpg' alt='some text')
                    a(href='#' class='to-object-view button-texture') Посетить объект
                    div(class='object-after')
                        div(class='object-marker')
                            img(src='images/icon-good.png' alt='after')
                            span(class='object-marker-text') Стало
                        div(class='object-image-container')
                        div(class='object-image-list')
                            div(class='object-image')
                                img(src='images/image-object-1.jpg' alt='some text')
                            div(class='object-image')
                                img(src='images/image-object-4.jpg' alt='some text')
                            div(class='object-image')
                                img(src='images/image-object-6.jpg' alt='some text')
                div(class='slide object-item')
                    div(class='object-before')
                        div(class='object-marker')
                            img(src='images/icon-bad.png' alt='before')
                            span(class='object-marker-text') было
                        div(class='object-image-container')
                        div(class='object-image-list')
                            div(class='object-image')
                                img(src='images/image-object-5.jpg' alt='some text')
                            div(class='object-image')
                                img(src='images/image-object-3.jpg' alt='some text')
                            div(class='object-image')
                                img(src='images/image-object-1.jpg' alt='some text')
                    a(href='#' class='to-object-view button-texture') Посетить объект
                    div(class='object-after')
                        div(class='object-marker')
                            img(src='images/icon-good.png' alt='after')
                            span(class='object-marker-text') Стало
                        div(class='object-image-container')
                        div(class='object-image-list')
                            div(class='object-image')
                                img(src='images/image-object-6.jpg' alt='some text')
                            div(class='object-image')
                                img(src='images/image-object-4.jpg' alt='some text')
                            div(class='object-image')
                                img(src='images/image-object-2.jpg' alt='some text')
