div(class='portfolio')
    div(class='wrapper-inner')
        h2
            != 'Знаем, как подступиться <strong>к самому сложному проекту</strong>'
        div(class='sub-title') Вот некоторые из них
        div(class='portfolio-list')
            div(class='portfolio-item')
                div(class='portfolio-item-left')
                    div(class='slider-wrap')
                        div(class='portfolio-item-properties') Ванная комната 170х150 и туалет 90х120
                        div(class='portfolio-slider-large' id='slider-large-1')
                            div(class='portfolio-large-image slide')
                                img(src='images/image-portfolio-1.jpg' alt='some text' class='slide')
                            div(class='portfolio-large-image slide')
                                img(src='images/image-rate-1.jpg' alt='some text' class='slide')
                            div(class='portfolio-large-image slide')
                                img(src='images/image-rate-2.jpg' alt='some text' class='slide')
                            div(class='portfolio-large-image slide')
                                img(src='images/image-rate-3.jpg' alt='some text' class='slide')
                        div(class='portfolio-item-data')
                            div(class='portfolio-item-owner')
                                div(class='portfolio-item-owner-photo')
                                    img(src='images/portfolio-photo.jpg' alt='some text')
                                div(class='portfolio-item-owner-text')
                                    != '<span>Клиент: </span>Иванов Виктор'
                            div(class='portfolio-item-address')
                                != '<span>Адрес: </span>ул. Кантемировская, д. 20'
                    div(class='slider-wrap portfolio-slider-small-wrap')
                        div(class='slider-control slider-prev portfolio-controls portfolio-prev' id='portfolio-prev-1')
                        div(class='slider-control slider-next portfolio-controls portfolio-next' id='portfolio-next-1')
                        div(class='portfolio-slider-small' id='slider-small-1')
                            div(class='portfolio-small-image slide')
                                img(src='images/image-portfolio-1.jpg' alt='some text' class='slide')
                            div(class='portfolio-small-image slide')
                                img(src='images/image-rate-1.jpg' alt='some text' class='slide')
                            div(class='portfolio-small-image slide')
                                img(src='images/image-rate-2.jpg' alt='some text' class='slide')
                            div(class='portfolio-small-image slide')
                                img(src='images/image-rate-3.jpg' alt='some text' class='slide')
                div(class='portfolio-item-right')
                    div(class='portfolio-item-right-title') Задачи
                    ul
                        li Создать удобную планировку совмещенного санузла 3,3 кв. м
                        li Разграничить зону туалета и ванной
                        li Предусмотреть место для стиральной машинки
                        li Создать недорогой, современный ремонт
                    div(class='portfolio-item-right-title') Решение
                    ul
                        li Подобрали вариант класса «Эконом»
                        li Создали дизайнпроект на основании фото, предоставленного заказчиком
                        li Демонтировали старую отделку, оставив сантехнические приборы
                        li Обработали участки с распространением плесени спец. составами
                        li Провели отделку стен пластиковыми панелями
                        li Создали розетку в защищенном корпусе
                        li Подключили смесители, душевую кабину, стиральную машину
                div(class='portfolio-item-footer')
                    div(class='portfolio-item-fact')
                        != '<span>31 200 руб. </span>стоимость проекта'
                    div(class='portfolio-item-fact')
                        != '<span>17 200 руб. </span>стоимость материалов'
                    div(class='portfolio-item-fact')
                        != '<span>2 варианта </span>дизайн-проекта разработано'
                    div(class='portfolio-item-fact')
                        != '<span>2 раза </span>проводили онлайн-демонстрацию работ'
                    a(href='#' class='button-texture')
                        img(src='images/' alt='some text')
                        span Хочу так же!
            div(class='portfolio-item')
                div(class='portfolio-item-left')
                    div(class='slider-wrap')
                        div(class='portfolio-item-properties') Ванная комната 170х150 и туалет 90х120
                        div(class='portfolio-slider-large' id='slider-large-2')
                            div(class='portfolio-large-image slide')
                                img(src='images/image-portfolio-1.jpg' alt='some text' class='slide')
                            div(class='portfolio-large-image slide')
                                img(src='images/image-rate-1.jpg' alt='some text' class='slide')
                            div(class='portfolio-large-image slide')
                                img(src='images/image-rate-2.jpg' alt='some text' class='slide')
                            div(class='portfolio-large-image slide')
                                img(src='images/image-rate-3.jpg' alt='some text' class='slide')
                        div(class='portfolio-item-data')
                            div(class='portfolio-item-owner')
                                div(class='portfolio-item-owner-photo')
                                    img(src='images/portfolio-photo.jpg' alt='some text')
                                div(class='portfolio-item-owner-text')
                                    != '<span>Клиент: </span>Иванов Виктор'
                            div(class='portfolio-item-address')
                                != '<span>Адрес: </span>ул. Кантемировская, д. 20'
                    div(class='slider-wrap')
                        div(class='slider-control slider-prev portfolio-controls portfolio-prev' id='portfolio-prev-2')
                        div(class='slider-control slider-next portfolio-controls portfolio-next' id='portfolio-next-2')
                        div(class='portfolio-slider-small' id='slider-small-2')
                            div(class='portfolio-small-image slide')
                                img(src='images/image-portfolio-1.jpg' alt='some text' class='slide')
                            div(class='portfolio-small-image slide')
                                img(src='images/image-rate-1.jpg' alt='some text' class='slide')
                            div(class='portfolio-small-image slide')
                                img(src='images/image-rate-2.jpg' alt='some text' class='slide')
                            div(class='portfolio-small-image slide')
                                img(src='images/image-rate-3.jpg' alt='some text' class='slide')
                div(class='portfolio-item-right')
                    div(class='portfolio-item-right-title') Задачи
                    ul
                        li Создать удобную планировку совмещенного санузла 3,3 кв. м
                        li Разграничить зону туалета и ванной
                        li Предусмотреть место для стиральной машинки
                        li Создать недорогой, современный ремонт
                    div(class='portfolio-item-right-title') Решение
                    ul
                        li Подобрали вариант класса «Эконом»
                        li Создали дизайнпроект на основании фото, предоставленного заказчиком
                        li Демонтировали старую отделку, оставив сантехнические приборы
                        li Обработали участки с распространением плесени спец. составами
                        li Провели отделку стен пластиковыми панелями
                        li Создали розетку в защищенном корпусе
                        li Подключили смесители, душевую кабину, стиральную машину
                div(class='portfolio-item-footer')
                    div(class='portfolio-item-fact')
                        != '<span>31 200 руб. </span>стоимость проекта'
                    div(class='portfolio-item-fact')
                        != '<span>17 200 руб. </span>стоимость материалов'
                    div(class='portfolio-item-fact')
                        != '<span>2 варианта </span>дизайн-проекта разработано'
                    div(class='portfolio-item-fact')
                        != '<span>2 раза </span>проводили онлайн-демонстрацию работ'
                    a(href='#' class='button-texture')
                        img(src='images/' alt='some text')
                        span Хочу так же!
            div(class='portfolio-item')
                div(class='portfolio-item-left')
                    div(class='slider-wrap')
                        div(class='portfolio-item-properties') Ванная комната 170х150 и туалет 90х120
                        div(class='portfolio-slider-large' id='slider-large-3')
                            div(class='portfolio-large-image slide')
                                img(src='images/image-portfolio-1.jpg' alt='some text' class='slide')
                            div(class='portfolio-large-image slide')
                                img(src='images/image-rate-1.jpg' alt='some text' class='slide')
                            div(class='portfolio-large-image slide')
                                img(src='images/image-rate-2.jpg' alt='some text' class='slide')
                            div(class='portfolio-large-image slide')
                                img(src='images/image-rate-3.jpg' alt='some text' class='slide')
                        div(class='portfolio-item-data')
                            div(class='portfolio-item-owner')
                                div(class='portfolio-item-owner-photo')
                                    img(src='images/portfolio-photo.jpg' alt='some text')
                                div(class='portfolio-item-owner-text')
                                    != '<span>Клиент: </span>Иванов Виктор'
                            div(class='portfolio-item-address')
                                != '<span>Адрес: </span>ул. Кантемировская, д. 20'
                    div(class='slider-wrap')
                        div(class='slider-control slider-prev portfolio-controls portfolio-prev' id='portfolio-prev-3')
                        div(class='slider-control slider-next portfolio-controls portfolio-next' id='portfolio-next-3')
                        div(class='portfolio-slider-small' id='slider-small-3')
                            div(class='portfolio-small-image slide')
                                img(src='images/image-portfolio-1.jpg' alt='some text' class='slide')
                            div(class='portfolio-small-image slide')
                                img(src='images/image-rate-1.jpg' alt='some text' class='slide')
                            div(class='portfolio-small-image slide')
                                img(src='images/image-rate-2.jpg' alt='some text' class='slide')
                            div(class='portfolio-small-image slide')
                                img(src='images/image-rate-3.jpg' alt='some text' class='slide')
                div(class='portfolio-item-right')
                    div(class='portfolio-item-right-title') Задачи
                    ul
                        li Создать удобную планировку совмещенного санузла 3,3 кв. м
                        li Разграничить зону туалета и ванной
                        li Предусмотреть место для стиральной машинки
                        li Создать недорогой, современный ремонт
                    div(class='portfolio-item-right-title') Решение
                    ul
                        li Подобрали вариант класса «Эконом»
                        li Создали дизайнпроект на основании фото, предоставленного заказчиком
                        li Демонтировали старую отделку, оставив сантехнические приборы
                        li Обработали участки с распространением плесени спец. составами
                        li Провели отделку стен пластиковыми панелями
                        li Создали розетку в защищенном корпусе
                        li Подключили смесители, душевую кабину, стиральную машину
                div(class='portfolio-item-footer')
                    div(class='portfolio-item-fact')
                        != '<span>31 200 руб. </span>стоимость проекта'
                    div(class='portfolio-item-fact')
                        != '<span>17 200 руб. </span>стоимость материалов'
                    div(class='portfolio-item-fact')
                        != '<span>2 варианта </span>дизайн-проекта разработано'
                    div(class='portfolio-item-fact')
                        != '<span>2 раза </span>проводили онлайн-демонстрацию работ'
                    a(href='#' class='button-texture')
                        img(src='images/' alt='some text')
                        span Хочу так же!