div(class='questions')
    div(class='wrapper-inner')
        h2
            != 'ТОП-6 вопросов, которые мы <strong>привыкли слышать от клиентов</strong>'
        div(class='sub-title') И у нас на них готов ответ
        div(class='questions-list')
            div(class='questions-item')
                div(class='questions-item-question') Вы приезжаете для замеров бесплатно — в чем подвох?
                div(class='questions-item-answer') Ни в чем. Это действительно бесплатная услуга, потому что она нужна больше нам, а не вам. Благодаря точному замеру мы сможем понять объем работ и создать честную смету.
            div(class='questions-item')
                div(class='questions-item-question') Если в вашем договоре будут пункты, которые меня не устроят, мы можем их вычеркнуть?
                div(class='questions-item-answer') У клиента есть право предлагать свои коррективы по договору. Если какой-то пункт вам кажется неверным или вы хотите внести свой, то мы рассмотрим любые предложения и, если нужно, откорректируем документ.
            div(class='questions-item')
                div(class='questions-item-question') Вы обещаете соблюдение сроков, а что если вы их сорвете?
                div(class='questions-item-answer') Если по нашей вине ремонт затянется, компания компенсирует клиенту 2% от стоимости за каждый день просрочки. Этот пункт занесен в договор.
            div(class='questions-item')
                div(class='questions-item-question') В нашем доме плохая проводка, и я боюсь делать ремонт, чтоб что-то не «коротнуло» в ванной
                div(class='questions-item-answer') Каждая наша бригада работает с профессиональным электриком. Он посмотрит сложившуюся ситуацию и предложит правильные и безопасные решения.
            div(class='questions-item')
                div(class='questions-item-question') А если я заплачу вам деньги, а вы с ними пропадете?
                div(class='questions-item-answer') Мы практикуем постоплату. Вы платите нам только после проведения и принятия работы. Если мы закупаем материалы, вы едете вместе с нами или мы предоставляем чеки.
            div(class='questions-item')
                div(class='questions-item-question') На время ремонта мы семьей хотим уехать на отдых, как контролировать вашу бригаду?
                div(class='questions-item-answer') Прораб регулярно, с указанной вами частотой, будет делать звонок в Skype, WhatsApр, Viber и в видео-формате показывать, на какой стадии находится ремонт, как и кем он проводится.
