div(class='rates')
    div(class='wrapper-inner')
        h2
            != 'Ремонт ванной комнаты в Москве: <strong>3 формата в 2 ценовых категориях</strong>'
        div(class='sub-title') Подберем для вас оптимальный вариант. Мы занимаемся любыми видами ремонта и работаем с помещениями любой площади и конфигурации
        div(class='rates-list')
            div(class='rates-item')
                div(class='rates-item-header')
                    img(src='images/image-rate-1.jpg' alt='some text')
                    div(class='rates-item-header-data')
                        div(class='rates-item-title') Туалет
                        div(class='rates-item-subtitle') Сделаем туалетную комнату уютной и красивой
                        div(class='rates-item-tab')
                            div(class='rates-item-tab-control active') Эконом
                            div(class='rates-item-tab-control') Престиж
                div(class='rates-item-data')
                    div(class='rates-single-rate active')
                        h3 Тариф «Эконом»
                        div(class='rates-single-rate-cost') от 8 000 рублей
                        ul
                            li демонтаж унитаза и старой отделки
                            li установка ревизионного шкафа
                            li облицовка пола плиткой
                            li облицовка стен пластиковыми панелями
                            li монтаж потолка
                            li монтаж и подключение светильника
                            li монтаж унитаза
                            li крепление аксессуаров
                        a(href='#' class='button-texture')
                            span Получить консультацию
                    div(class='rates-single-rate')
                        h3 Тариф «Престиж»
                        div(class='rates-single-rate-cost') от 15 000 рублей
                        ul
                            li демонтаж унитаза и старой отделки
                            li установка ревизионного шкафа
                            li облицовка пола плиткой
                            li облицовка стен пластиковыми панелями
                            li монтаж потолка
                            li монтаж и подключение светильника
                            li монтаж унитаза
                            li крепление аксессуаров
                            li демонтаж унитаза и старой отделки
                            li установка ревизионного шкафа
                            li облицовка пола плиткой
                            li облицовка стен пластиковыми панелями
                        a(href='#' class='button-texture')
                            span Получить консультацию
            div(class='rates-item')
                div(class='rates-item-header')
                    img(src='images/image-rate-2.jpg' alt='some text')
                    div(class='rates-item-header-data')
                        div(class='rates-item-title') Ванна
                        div(class='rates-item-subtitle') Ремонт с соблюдением санитарных норм и последних веяний моды
                        div(class='rates-item-tab')
                            div(class='rates-item-tab-control active') Эконом
                            div(class='rates-item-tab-control') Престиж
                div(class='rates-item-data')
                    div(class='rates-single-rate active')
                        h3 Тариф «Эконом»
                        div(class='rates-single-rate-cost') от 16 000 рублей
                        ul
                            li демонтаж старой сантехники и плитки
                            li грунтовка и облицовка пола плиткой
                            li разводка труб горячего и холодного водоснабжения
                            li облицовка стен пластиковыми панелями
                            li монтаж потолка
                            li монтаж раковины
                            li установка пластикового экрана под ванну
                            li монтаж смесителей
                            li покраска полотенцесушителя (при необходимости)
                        a(href='#' class='button-texture')
                            span Получить консультацию
                    div(class='rates-single-rate')
                        h3 Тариф «Престиж»
                        div(class='rates-single-rate-cost') от 25 000 рублей
                        ul
                            li демонтаж старой сантехники и плитки
                            li грунтовка и облицовка пола плиткой
                            li разводка труб горячего и холодного водоснабжения
                            li облицовка стен пластиковыми панелями
                            li монтаж потолка
                            li монтаж раковины
                            li покраска полотенцесушителя (при необходимости)
                        a(href='#' class='button-texture')
                            span Получить консультацию
            div(class='rates-item')
                div(class='rates-item-header')
                    img(src='images/image-rate-3.jpg' alt='some text')
                    div(class='rates-item-header-data')
                        div(class='rates-item-title') Совмещенный санузел
                        div(class='rates-item-subtitle') Вы убедитесь, что даже совмещенный санузел может быть удобным
                        div(class='rates-item-tab')
                            div(class='rates-item-tab-control active') Эконом
                            div(class='rates-item-tab-control') Престиж
                div(class='rates-item-data')
                    div(class='rates-single-rate active')
                        h3 Тариф «Эконом»
                        div(class='rates-single-rate-cost') от 21 000 рублей
                        ul
                            li демонтаж старой сантехники и плитки
                            li грунтовка и облицовка пола плиткой
                            li разводка труб горячего и холодного водоснабжения
                            li облицовка стен пластиковыми панелями
                            li разводка проводов под розетку, осветительные приборы
                            li изготовление ревизионного шкафа
                            li создание люканевидимки
                            li монтаж потолка
                            li монтаж раковины, ванной, унитаза
                            li монтаж пластикового экрана под ванну
                            li монтаж смесителей на ванну и раковину
                            li замена полотенцесушителя
                        a(href='#' class='button-texture')
                            span Получить консультацию
                    div(class='rates-single-rate')
                        h3 Тариф «Престиж»
                        div(class='rates-single-rate-cost') от 32 000 рублей
                        ul
                            li демонтаж старой сантехники и плитки
                            li разводка труб горячего и холодного водоснабжения
                            li облицовка стен пластиковыми панелями
                            li разводка проводов под розетку, осветительные приборы
                            li изготовление ревизионного шкафа
                            li монтаж потолка
                            li монтаж раковины, ванной, унитаза
                            li монтаж пластикового экрана под ванну
                            li монтаж смесителей на ванну и раковину
                            li замена полотенцесушителя
                        a(href='#' class='button-texture')
                            span Получить консультацию