div(class='reviews')
    div(class='wrapper-inner')
        h2
            != 'Каждый ремонт выполняем <strong>на высшем уровне</strong>'
        div(class='sub-title') И клиенты нам за это благодарны
        div(class='reviews-filter')
            div(class='reviews-filter-item active') все
            div(class='reviews-filter-item') видео
            div(class='reviews-filter-item') текст
            div(class='reviews-filter-item') от руки
        div(class='slider-wrap')
            div(class='reviews-controls reviews-prev')
            div(class='reviews-controls reviews-next')
            div(class='slider-reviews')
                div(class='reviews-item slide')
                    div(class='reviews-item-left')
                        img(src='images/image-review.jpg' alt='some text')
                    div(class='reviews-item-right')
                        div(class='reviews-item-data')
                            div(class='reviews-item-photo')
                                img(src='images/image-reviewer.jpg' alt='some text')
                            p Заказывала в компании «Название компании» ремонт совмещенного санузла. Заказывала в компании «Название компании» ремонт совмещенного санузла. Комнатка небольшая, потому не представляла, что можно так здорово все разместить. На замер приезжал Сергей. Очень недорого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями, согласовывали с ними время шумных работ. рого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями.
                            div(class='reviews-item-reviewer') Марина Цветикова
                div(class='reviews-item slide')
                    div(class='reviews-item-left')
                        img(src='images/image-review.jpg' alt='some text')
                    div(class='reviews-item-right')
                        div(class='reviews-item-data')
                            div(class='reviews-item-photo')
                                img(src='images/image-reviewer.jpg' alt='some text')
                            p Заказывала в компании «Название компании» ремонт совмещенного санузла. Заказывала в компании «Название компании» ремонт совмещенного санузла. Комнатка небольшая, потому не представляла, что можно так здорово все разместить. На замер приезжал Сергей. Очень недорого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями, согласовывали с ними время шумных работ. рого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями.
                            div(class='reviews-item-reviewer') Марина Цветикова
                div(class='reviews-item slide')
                    div(class='reviews-item-left')
                        img(src='images/image-review.jpg' alt='some text')
                    div(class='reviews-item-right')
                        div(class='reviews-item-data')
                            div(class='reviews-item-photo')
                                img(src='images/image-reviewer.jpg' alt='some text')
                            p Заказывала в компании «Название компании» ремонт совмещенного санузла. Заказывала в компании «Название компании» ремонт совмещенного санузла. Комнатка небольшая, потому не представляла, что можно так здорово все разместить. На замер приезжал Сергей. Очень недорого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями, согласовывали с ними время шумных работ. рого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями.
                            div(class='reviews-item-reviewer') Марина Цветикова
                div(class='reviews-item slide')
                    div(class='reviews-item-left')
                        img(src='images/image-review.jpg' alt='some text')
                    div(class='reviews-item-right')
                        div(class='reviews-item-data')
                            div(class='reviews-item-photo')
                                img(src='images/image-reviewer.jpg' alt='some text')
                            p Заказывала в компании «Название компании» ремонт совмещенного санузла. Заказывала в компании «Название компании» ремонт совмещенного санузла. Комнатка небольшая, потому не представляла, что можно так здорово все разместить. На замер приезжал Сергей. Очень недорого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями, согласовывали с ними время шумных работ. рого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями.
                            div(class='reviews-item-reviewer') Марина Цветикова
                div(class='reviews-item slide')
                    div(class='reviews-item-left')
                        img(src='images/image-review.jpg' alt='some text')
                    div(class='reviews-item-right')
                        div(class='reviews-item-data')
                            div(class='reviews-item-photo')
                                img(src='images/image-reviewer.jpg' alt='some text')
                            p Заказывала в компании «Название компании» ремонт совмещенного санузла. Заказывала в компании «Название компании» ремонт совмещенного санузла. Комнатка небольшая, потому не представляла, что можно так здорово все разместить. На замер приезжал Сергей. Очень недорого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями, согласовывали с ними время шумных работ. рого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями.
                            div(class='reviews-item-reviewer') Марина Цветикова
                div(class='reviews-item slide')
                    div(class='reviews-item-left')
                        img(src='images/image-review.jpg' alt='some text')
                    div(class='reviews-item-right')
                        div(class='reviews-item-data')
                            div(class='reviews-item-photo')
                                img(src='images/image-reviewer.jpg' alt='some text')
                            p Заказывала в компании «Название компании» ремонт совмещенного санузла. Заказывала в компании «Название компании» ремонт совмещенного санузла. Комнатка небольшая, потому не представляла, что можно так здорово все разместить. На замер приезжал Сергей. Очень недорого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями, согласовывали с ними время шумных работ. рого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями.
                            div(class='reviews-item-reviewer') Марина Цветикова
                div(class='reviews-item slide')
                    div(class='reviews-item-left')
                        img(src='images/image-review.jpg' alt='some text')
                    div(class='reviews-item-right')
                        div(class='reviews-item-data')
                            div(class='reviews-item-photo')
                                img(src='images/image-reviewer.jpg' alt='some text')
                            p Заказывала в компании «Название компании» ремонт совмещенного санузла. Заказывала в компании «Название компании» ремонт совмещенного санузла. Комнатка небольшая, потому не представляла, что можно так здорово все разместить. На замер приезжал Сергей. Очень недорого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями, согласовывали с ними время шумных работ. рого и красиво. Все сделали быстро и качественно. За 6 дней мой ремонт был готов. Ребята сами договаривались с соседями.
                            div(class='reviews-item-reviewer') Марина Цветикова