div(class='steps')
    div(class='wrapper-inner')
        h2
            != 'Четкий алгоритм так же важен, <strong>как и качество материалов</strong>'
        div(class='sub-title') Не импровизируем — работаем по плану
        div(class='slider-wrap')
            div(class='slider-control slider-prev steps-controls steps-prev')
            div(class='slider-control slider-next steps-controls steps-next')
            div(class='slider-steps')
                div(class='steps-item slide')
                    div(class='steps-item-icon')
                        img(src='images/icon-step-1.png' alt='some text')
                    h3 Проведение замера в Москве и области
                    p Наш мастер-замерщик проводит необходимые измерения, выясняет потребности клиента и составляет смету.
                div(class='steps-item slide')
                    div(class='steps-item-icon')
                        img(src='images/icon-step-2.png' alt='some text')
                    h3 Создание дизайн-проекта
                    p Дизайнер с 7-ми летним опытом создаст 3 варианта интерьера на основании пожеланий заказчика и с его непосредственным участием
                div(class='steps-item slide')
                    div(class='steps-item-icon')
                        img(src='images/icon-step-3.png' alt='some text')
                    h3 Составление окончательной сметы
                    p Формируем стоимость с изменением в большую или меньшую сторону до полного удовлетворения заказчика
                div(class='steps-item slide')
                    div(class='steps-item-icon')
                        img(src='images/icon-step-1.png' alt='some text')
                    h3 Следующий пункт
                    p lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                div(class='steps-item slide')
                    div(class='steps-item-icon')
                        img(src='images/icon-step-3.png' alt='some text')
                    h3 И еще один с названием подлиннее
                    p lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum