div(class='video')
    h1
        != 'Комплексный ремонт ванной комнаты под ключ <span>с материалами за 10–14 дней</span> <span>с гарантией до 5 лет</span>'
    div(class='video-inner')
        div(class='video-title')
            != 'Постоплата за каждый этап <span>и цена на 45% ниже рынка</span>'
        div(class='video-gift')
            img(src="images/icon-gift.png" alt='video')
            div(class='video-gift-text')
                != 'реечный потолок <span>в подарок</span>'
        a(href="https://youtu.be/d0S_LyQQo8A"  class='video-link' data-fancybox="gallery")
            img(src="images/background-video-inner.png" alt='video')