div(class='years')
    div(class='wrapper-inner')
        h2
            != 'За 15 лет изменились материалы, <strong>но не качество нашей работы</strong>'
        div(class='sub-title') Можете сами сравнить
        div(class='years-list')
            div(class='years-item')
                div(class='years-item-text') 2006
                div(class='years-item-image')
                    img(src='images/image-years-1.jpg' alt='some text')
            div(class='years-item')
                div(class='years-item-text') 2010
                div(class='years-item-image')
                    img(src='images/image-years-2.jpg' alt='some text')
            div(class='years-item')
                div(class='years-item-text') 2014
                div(class='years-item-image')
                    img(src='images/image-years-3.jpg' alt='some text')
            div(class='years-item')
                div(class='years-item-text') 2017
                div(class='years-item-image')
                    img(src='images/image-years-4.jpg' alt='some text')
        p Мы ведем работу с 2002 года с минимальной сменой персонала. Наши работники проходят курсы повышения квалификации и неустанно совершенствуются. Качество работ остается стабильно высоким на протяжении всего срока существования компании.